.listing-section-article {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-listing-heading {
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.images-section {
  height: 40%;
  width: 90%;
  overflow: scroll;
  white-space:nowrap;
}

.listing-image {
  margin: 10px;
  height: 100%;
  width: 50%;
  display: inline-block
}

.listing-description-section {
  background: linear-gradient(rgba(248, 248, 248, 0.801), rgba(255, 255, 255, 0.749));
  width: 90%;
  margin-top: 10px;
  font-size: 1.2em;
}

.listing-paragraph-decription {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.short-description {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.p-tags {
  padding-right: 20rem;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.remove-from-favorites,
.favorite-button {
  width: 12rem;
  height: 2rem;
  background-color:#007EA7;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}