.main-areas {
  height: 100%;
}

.card-container {
  display: grid;
  height: 60%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  text-align: left;
  margin-top: 2%;
}

.heading {
  width: 100%;
  background-color: #fff;
  color: #007EA7;
}